.knobBG, .knob {
  /* position:absolute; */
  background-image: url('/files/knob_Base.png');
  width:355px;
  height:355px;
}
.knob {
  background-image: url('/files/knob_Spinner.png');
  z-index: 1;
  position: absolute;
}
/* .box {
  font-size:30px;
  padding: 10px;
}
#content .box {

  height: 335px;
}
#content{
  position:absolute;
  left:400px;
  height:355px;
  width:500px;
  overflow-y: scroll;
} */
